---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Courses Taught at Reed</h2>
 <ul>
  <li>CSCI 121 (Comp Sci Fundamentals I): Fall 2023, Spring 2024, Fall 2024, Fall 2025</li>
  <li>CSCI 382 (Algorithms & Data Structures): Fall 2023, Spring 2024, Fall 2024, Spring 2025</li>
  <li>CSCI 368 (Computer & Network Security): Spring 2025</li>
  <li>CSCI 388 (Cryptography): Fall 2025</li>
</ul> 

<h2>Other Teaching</h2>
 <ul>
  <li>Fall 2020: TA for University of Maryland's CMSC 414 (Computer & Network Security)</li>
  <li>Spring 2019: TA for University of Maryland's CMSC 456 (Intro to Cryptography)</li>
</ul> 


<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
